/* colors
1: ##e4c451
2: ##cea510
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #e4c451;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  position: sticky;
  top: 0; 
  z-index: 5;

}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.menu {
  display: flex;
}

.menu ul {
  list-style: none;
  display: flex;

}

.menu li {
  
  margin-right: 20px;
}

.menu a {

  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out .2s;
}

a:hover {
  color: #000;
}
/* .menu ul li a img{
  width: 2rem;
  height: 2rem;
} */

.icono{
  width: 30px;
  height: 30px;
}


.mainTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  row-gap: 0.5rem;
}


.mainTitle h1 {
  margin-top: 5rem;
  text-shadow: 2px 2px 0 #838282b7;
}

.mainTitle h2 {
  font-size: 1rem;
}

.mainTitle img {
  width:700px;
  object-fit: cover;
  height: 500px;
  object-position: center;
}


/* card */
.cardContainer {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  
 
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
 width: 300px;
  transition: transform 0.2s ease-in-out;


}

.card img {
  width: 100%;
  height: 200px;

}

.card-content {
  padding: 20px;
  text-align: center;

}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: #cea510;
}
.containerPrice{
  display: flex;
column-gap: .5rem;
justify-content: center;
}
.containerPrice p:nth-child(1) {
  color: black;
font-size: .8rem;
  text-decoration: line-through;
}

.description {
  color: #777;
}

.card:hover {
  transform: scale(1.02);

}

.actionsButton {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.btn {
  background-color: #e4c451;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #cea510;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.2s;

}



.social-icons img {
  width: 30px;
  height: 30px;
  border: 0;
}


/* services page Cursos*/
.containerService {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.cardService {
  display: flex;
  row-gap: 1rem;
}

.cardService img {
  width: 250px;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.serviceDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* we Servicios */

.cardService img {
object-position: center;
  height: 100%;
  object-fit: cover;
}
.cardServiceW {
  width: 400px;
  height: 600px;
  
}

.cardServiceW img {
  height: 300px;
  width: 100%;
  
}

.cardServiceW div {
   height: max-content; 
}

/* community */
.containerCommunity {
  display: flex;
  row-gap: 2rem;
}

.containerCommunity div {
width: 300px;
  height: 300px;
  
}

.cardCommunity{
  background-color: #fff;
  border-radius: 10px;
 width: auto;
  transition: transform 0.2s ease-in-out;
height: auto;

}

.thanks {
  font-size: 1.5rem;
  text-shadow: 1px 2px #c2c2c2;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.thanks img{
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #cea510;
    width: 100%;
  }

  .menu.active {
    display: flex;
  }

  .menu ul {
    flex-direction: row;
    text-align: center;
  }

  .menu li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }


  /* index */
  .mainTitle img {
    width:100%;
    object-fit: cover;
    height: 600px;
    object-position: center;
  }


  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  /* service Cursos*/
  .cardService {
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .cardServiceW {
    height: 600px;
    width: 800px;
  }

  .cardServiceW div{
    display: flex;
    height: max-content;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }
  .row>* {
    width: auto;
  }

   .cardServiceW img {
  width: 400px; 
  } 
}

 @media screen and (max-width: 500px) {
  .mainTitle img {
    height: auto;
  }
} 